@charset "UTF-8";
body {
  font-family: "Poppins", serif !important;
}

/* Hero Section Styles */
.navbar-text-custom {
  font-weight: 400 !important;
  line-height: 27px !important;
  color: #222222 !important;
}

.btn.btn-outline-primary {
  border: rgb(70, 142, 249) 1px solid !important;
  color: rgb(70, 142, 249) !important;
}
.btn.btn-outline-primary:hover {
  font-weight: 600;
  color: white !important;
  background: linear-gradient(180deg, rgb(70, 142, 249) 0%, rgb(12, 102, 238) 100%);
}

.btn.btn-primary {
  border: rgb(70, 142, 249) 1px solid !important;
  background: linear-gradient(180deg, rgb(70, 142, 249) 0%, rgb(12, 102, 238) 100%);
}
.btn.btn-primary:hover {
  font-weight: 600;
  color: rgb(70, 142, 249);
  background: white;
}

.hero-text-1 {
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
  background: rgb(70, 142, 249);
  background: linear-gradient(180deg, rgb(70, 142, 249) 0%, rgb(12, 102, 238) 100%);
  -webkit-background-clip: text;
          background-clip: text;
  color: transparent;
}

.hero-text-2 {
  font-weight: 700;
  font-size: 68px;
  line-height: 82px;
  position: relative;
}
.hero-text-2::before {
  content: "";
  position: absolute;
  bottom: -250px;
  left: -70px;
  transform: translateY(-50%);
  width: 28px;
  height: 28px;
  background-image: url(assets/hero-section-img/hero-ellipse-1.svg);
  background-size: contain;
  background-repeat: no-repeat;
}
.hero-text-2::after {
  content: "";
  position: absolute;
  top: -15px;
  right: 100px;
  transform: translateY(-50%);
  width: 50px;
  height: 50px;
  background-image: url(assets/hero-section-img/hero-star-1.svg);
  background-size: contain;
  background-repeat: no-repeat;
}

.hero-text-gradient {
  background: rgb(96, 255, 252);
  background: linear-gradient(180deg, rgb(96, 255, 252) 0%, rgb(41, 126, 255) 100%);
  -webkit-background-clip: text;
          background-clip: text;
  color: transparent;
}

.hero-text-3 {
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #666666;
}

.hero-bitcoin-img {
  position: relative;
  width: 785px;
  height: 762px;
  background-image: url(assets/hero-section-img/hero-bitcoin.png);
  background-size: cover;
  background-position: center;
}
.hero-bitcoin-img::before {
  content: "";
  position: absolute;
  top: 100px;
  left: 100px;
  transform: translateY(-50%);
  width: 32px;
  height: 32px;
  background-image: url(assets/hero-section-img/hero-ellipse-3.svg);
  background-size: contain;
  background-repeat: no-repeat;
}
.hero-bitcoin-img::after {
  content: "";
  position: absolute;
  bottom: 230px;
  right: 80px;
  transform: translateY(-50%);
  width: 27px;
  height: 27px;
  background-image: url(assets/hero-section-img/hero-ellipse-2.svg);
  background-size: contain;
  background-repeat: no-repeat;
}

.hero-bg {
  background: rgb(253, 249, 255);
  background: linear-gradient(135deg, rgb(253, 249, 255) 0%, rgb(248, 239, 255) 10%, rgb(233, 248, 255) 30%, rgb(231, 251, 255) 60%, rgb(231, 240, 255) 80%, rgb(226, 238, 255) 100%);
}

.padding-custom {
  padding-top: 100px !important;
  padding-bottom: 1000px !important;
}

/* Crypto Price Charts Section Styles */
.card-margin {
  margin-top: -55px;
}

.card-text {
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  color: #000000;
}
.card-text::before {
  content: "🔥";
}

.card-link-text {
  font-weight: 500;
  font-size: 15px;
  line-height: 22.5px;
  color: #2F7CF0;
  text-decoration: none;
}
.card-link-text::after {
  content: " >";
}

.card-text-1 {
  font-weight: 400;
  font-size: 16px;
  line-height: 27px;
  color: #000000;
  margin: 0;
}

.crypto-icon {
  width: 20px;
  height: 20px;
}

.card-text-2 {
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  color: #000000;
}
.card-text-2::before {
  content: "🚀";
  margin-right: 5px;
}

.card-text-3 {
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  color: #000000;
}
.card-text-3::before {
  content: "💎";
  margin-right: 5px;
}

/* Buy and Trade Sections Styles */
.buy-trade-text {
  font-weight: 600;
  font-size: 36px;
  line-height: 52px;
  color: #222222;
}

.buy-trade-text-1 {
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #666666;
  padding-right: 5rem;
}

.form-text-1 {
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  background: rgb(70, 142, 249);
  background: linear-gradient(180deg, rgb(70, 142, 249) 0%, rgb(12, 102, 238) 100%);
  -webkit-background-clip: text;
          background-clip: text;
  color: transparent;
}

.gradient-border {
  position: relative;
  padding: 30px 25px;
  background: white;
  border-radius: 22px;
  z-index: 0;
}
.gradient-border::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(180deg, rgb(103, 164, 255) 25%, rgb(12, 211, 255) 50%, rgb(47, 124, 240) 75%, rgb(14, 101, 232) 100%);
  z-index: -1;
  border-radius: 22px;
  padding: 1.2px;
  -webkit-mask: linear-gradient(white, white) content-box, linear-gradient(white, white) border-box;
  -webkit-mask-composite: destination-out;
  mask-composite: exclude;
}

.select-menu {
  width: 180px;
  position: relative;
}
.select-menu .select-btn {
  display: flex;
  height: 87px;
  background: #fff;
  padding: 20px;
  font-size: 18px;
  font-weight: 500;
  border-radius: 8px;
  align-items: center;
  cursor: pointer;
  justify-content: center;
  gap: 12px;
  transition: background 0.3s ease;
}
.select-menu .select-btn i {
  font-size: 20px;
  transition: transform 0.3s ease;
}
.select-menu.active .select-btn i {
  transform: rotate(-180deg);
}
.select-menu .options {
  position: absolute;
  top: calc(100% + 10px);
  left: 0;
  width: 100%;
  padding: 10px;
  border-radius: 8px;
  background: #fff;
  z-index: 10;
  opacity: 0;
  transform: translateY(-10px);
  transition: opacity 0.3s ease, transform 0.3s ease;
  pointer-events: none;
}
.select-menu .options.active {
  opacity: 1;
  transform: translateY(0);
  pointer-events: all;
}
.select-menu .options .option {
  display: flex;
  height: 55px;
  cursor: pointer;
  padding: 0 16px;
  border-radius: 8px;
  align-items: center;
  background: #fff;
  transition: background 0.3s ease;
}
.select-menu .options .option:hover {
  background: #f2f2f2;
}
.select-menu .options .option .option-text {
  font-size: 18px;
  color: #333;
}
.select-menu .options .option i {
  font-size: 25px;
  margin-right: 12px;
}
.select-menu .flag-size,
.select-menu .flag-size-1 {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  margin-right: 12px;
}
.select-menu .flag-size.flag-size-1,
.select-menu .flag-size-1.flag-size-1 {
  margin-right: 0;
}/*# sourceMappingURL=style.css.map */